examples/person.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="person">
	  <xs:complexType>
	    <xs:sequence>
		  <xs:element ref="name" minOccurs="1" maxOccurs="1" />
		  <xs:element ref="tel" minOccurs="1" maxOccurs="1" />
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
	<xs:element name="name" type="xs:string" />
	<xs:element name="tel" type="xs:int" />
</xs:schema>